{% extends 'base.html' %}
{% block styles %}<link rel="stylesheet" href="/static/css/create_task.css">{% endblock %}
{% block title %}create task page{% endblock %}
{% block content %}
<center>
    <h1>Create Task page</h1>
    <div class="create-task">
        <form id="form-create-task" method="post" url="/task/create">
            <input type="text" name="title" required
            minlength="3" maxlength="300" placeholder="Title task*">
            <textarea name="description"
                maxlength="1500" placeholder="Description task"></textarea>
            <input type="datetime-local" name="compl-date">
            <input type="submit" value="create-task-button">
        </form>
    </div>
    <div class="flashe-messages">
        {% for message in get_flashed_messages() %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    <a href="/tasks">View all tasks</a>
</center>
{% endblock content %}
