{% extends 'base.html' %}
{% block title %}autorization{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/css/login.css">{% endblock %}
{% block content %}
<center>
    <div class="form-login">
        <h1>Hello, pls autorized on site</h1>
        <form method="post" url="/login" id="login-form">
            <input type="text" name="username" required placeholder="Username">
            <input type="password" name="password" required placeholder="Password">
            <input type="submit" value="Lets'go">
        </form>
    </div>
    <div class="messages">
        {% for message in get_flashed_messages() %}
        <p class="flash-message">{{ message }}</p>
        {% endfor %}
    </div>
</center>
{% endblock %}
